
<%- include('blogpost/partials/tributeheader'); -%>
<head>
  <link type="text/css" rel="stylesheet" href="Tribute_Page/css/tributestyles.css">
</head>
<div>
  <h3><%=power%> mW power is <%=dBm%>dBm.</h3>
</div>

<%- include('blogpost/partials/tributefooter'); -%>
  
   


